<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neusoft.network.entity.WalkPeridRepository">
	<cache />

	<select id="selectAllTimePerid" resultType="java.util.HashMap">
		SELECT
			time_perid_id as id,
			start,
			end
		FROM
			time_perid_defination
	</select>
	<select id="selectAllWalkTime" resultType="java.util.HashMap">
		SELECT
			 a.interchange_time_perid,
			 a.walk_time,
			 b.id,
			 b.station,
			 b.out_line,
			 b.out_line_direction,
			 b.in_line,
			 b.in_line_direction
		FROM
			interchange_time a
		LEFT JOIN
			interchangedirection b
		ON
			a.interchange_direction=b.id
	</select>

</mapper>